<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542008389975-94je97i2ip875eprutlbeuvcqmfi75vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542008389975-94je97i2ip875eprutlbeuvcqmfi75vo</string>
	<key>API_KEY</key>
	<string>AIzaSyDGfL3CbuGVdh1JyZ0L-jg3-4tAqbEBNsw</string>
	<key>GCM_SENDER_ID</key>
	<string>542008389975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>usKet.usKet-Friend</string>
	<key>PROJECT_ID</key>
	<string>usket-friend</string>
	<key>STORAGE_BUCKET</key>
	<string>usket-friend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542008389975:ios:f481081d8348c0ca76ce12</string>
</dict>
</plist>